<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.community.dao.BlogMapper">

    <resultMap id="BlogResultMap" type="com.example.community.domain.Blog">
        <result column="BlogId" jdbcType="INTEGER" property="id" />
        <result column="Header" jdbcType="VARCHAR" property="header" />
        <result column="Text" jdbcType="VARCHAR" property="text" />
        <result column="Date" jdbcType="TIMESTAMP" javaType="Date" property="date"/>
        <result column="Date" jdbcType="TIMESTAMP" javaType="String" property="time"/>
        <association property="user" javaType="com.example.community.domain.User"
                     select="com.example.community.dao.UserMapper.getById" column="UserId"/>
        <collection property="comments" ofType="com.example.community.domain.Comment"
                    select="com.example.community.dao.CommentMapper.getByBlogId" column="BlogId"/>
    </resultMap>

    <select id= "getByUserName" resultMap="BlogResultMap">
        select * from blogs where UserId in (
            select users.UserId from users where Name = #{name}
            ) order by Date desc
    </select>

    <select id="getByUserId" resultMap="BlogResultMap">
        select * from blogs where UserId = #{userId} order by Date desc
    </select>

    <select id="getById" resultMap="BlogResultMap">
        select * from blogs where BlogId = #{id} order by Date desc
    </select>

    <select id="getFavorites" resultMap="BlogResultMap">
        select * from favorites where UserId = #{userId}
    </select>

    <select id="getAll" resultMap="BlogResultMap">
        select * from blogs order by Date desc
    </select>

    <select id="query" resultMap="BlogResultMap">
        select BlogId, Header, Text, blogs.UserId, Date from blogs, users where users.UserId = blogs.UserId and
                                         Header like '%${name}%' and Text like '%${text}%' and users.Name like '%${author}%'
    </select>
    <insert id="addBlog" parameterType="com.example.community.domain.Blog" useGeneratedKeys="true" keyColumn="CommentId">
        insert into blogs(BlogId, Header, Text, UserId, Date)
        values(#{id}, #{header}, #{text}, #{user.id}, #{date})
    </insert>

    <insert id="addStar">
        insert into favorites(UserId, BlogId)
        values(#{userId}, #{blogId})
    </insert>

    <delete id="removeStar">
        delete from favorites where UserId = #{userId} and BlogId = #{blogId}
    </delete>

</mapper>